.vault-container {
  padding: 2rem;
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: fit-content;
}


.vault-container:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.vault-title {
  font-size: 1.8rem;
  color: var(--primary-color);
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.vault-description {
  font-size: 1.3rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.vault-amounts {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.vault-target-amount,
.vault-current-amount {
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 600;
}

.vault-date {
  font-size: 1rem;
  color: #666;
}
