body {
  font-family: var(--font-poppins);
}

.vault-container {
  padding: 1rem;
  border-radius: 10px;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}


.vault-container:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.vault-title {
  font-size: 2rem;
  color: var(--primary-color);
  margin-bottom: 0.1rem;
   }

.vault-description {
  font-size: 1.1rem;
  color: var(--primary-color);
}

.vault-amounts {
  display: flex;
  flex-direction: column;
}

.vault-target-amount,
.vault-current-amount {
  font-size: 1rem;
  color: var(--primary-color);
}

.vault-date {
  font-size: 1rem;
  color: #666;
}
