
  
  body {
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    overflow: hidden;
  }
  
  .form-input {
    width: 90%;
    padding: 10px;
    margin: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .cta-button {
    padding: 10px 30px;
    margin: 20px 10px;
    background-color: #5cc048;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  .sidebar-container {
    position: fixed;
    left: 0;
    height: calc(100vh - 60px); /* Prevents it from overlapping the header */
    width: 250px;
    background-color: rgb(0, 0, 0);
    border-right: 0.01px solid #ffd9009d;
    z-index: 1000; /* Lower than header */
    overflow-y: auto;
}
  .cta-button:hover {
    background-color: #3a5a35;
    transform: scale(1.05);
  }

  
  
  .list-item-button {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.2s ease;
  }
  
  .list-item-button:hover {
    background-color: #e0e0e0;
  }