
  
  body {
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    overflow: hidden;
    position: fixed;
  }
  
  .form-input {
    width: 90%;
    padding: 10px;
    margin: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .cta-button {
    padding: 10px 30px;
    margin: 20px 10px;
    background-color: #5cc048;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #3a5a35;
    transform: scale(1.05);
  }
  
  .sidebar-container {
    color: --primary-color;
    z-index: 1;
    position: relative;
  }
  
  .list-item-button {
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.2s ease;
  }
  
  .list-item-button:hover {
    background-color: #e0e0e0;
  }