/* Container for the whole page */

body {
  font-family: "Playfair Display", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow-x:hidden;
}  
  /* Styles for the notes section */
  .vault-section {
    margin-bottom: 2rem;
  }
  
  .vault-section h2 {
    color: #333;
    font-size: 24px;
  }
  
  /* Styles for individual notes - assuming your Note component has some container element */
  .vault {
    background-color: #f9f9f9;
    border-left: 5px solid #007bff;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 5px;
  }body {
    font-family: "Playfair Display", sans-serif;
    line-height: 1.6;
    background-color: var(--background-color);
  }
  
  .form-div {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    min-height: 400px;
    max-width: 600px;
    min-width: 500px;
    background-color: rgba(92, 192, 72, 0.118);
  }
  
  .form-input {
    width: 90%;
    padding: 10px;
    margin: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .cta-button {
    padding: 10px 30px;
    margin: 20px 10px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #3a5a35;
    transform: scale(1.05);
  }
  
  .main-layout {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
  }
  
  .content-container {
    flex-grow: 1;
    padding: 1rem;
  }
  
  form {
    max-width: 600px;
    margin: 0 auto;
  }
  